<!-- this was a test page, it's also where I dumped code that didn't work but I didn't want to lose -->

{% extends "base.html" %}

{% block content %}

<h1> Looks Good! something is working right now! </h1>
<!--
<h1> Awesome! {{post_title}} has been accepted! </h1>
<p>
{{post_title}}
<br>
{{body}}
</p>
Looks good!
{% endblock %}


<a href='/blog?id={{post.id}}'>{{post.title}}</a>

def main_page():
    blog_id = request.args.get('blog-id', None)
    post_title = request.args.get('post_title')
    body = request.args.get('body')
    if blog_id is None:
        blog_post = Blog.query.all()
        return render_template('allposts.html', blog_post=blog_post)
    #I don't need to send parameters through redirect. all redirect does is push me to a new page. 
    #the database knows what we're tracking!
    if blog_id is not None:
        post_id = Blog.query.get(id)
        blog_post = Blog(title, body)
        #return redirect('/blog?id={}'.format(post_id))
        return render_template('singlepost.html', blog_post=blog_post, post_id=post_id)
    return redirect('/blog?id={}'.format(post_id))
    -->

    if len(username) < 3:
            username_error = 'Username is too short, username must be between 3 and 20 characters in lenth'
            username_valid = False

    {% extends "base.html" %}

{% block content %}

<h1> Build a Blog </h1>
{% for post in blog_post %}
<p class='title'>
<a href='/blog?id={{post.id}}'>{{post.title}}</a>
</p>
<p class='body'>{{post.body}}</p>
<footer> written by:<a href='/blog?username={{post.owner.username}}'> {{post.owner.username}} </a></footer>
<hr />
{% endfor %}

{% endblock %}